footer{
    background-color: #EB7932;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
     font-family: "Italiana", sans-serif;
}

footer p{
    font-family: "Moul", serif;
    text-align: center;
    font-size: 20px;
    background-color: #EB7932;
    margin-bottom: 0;
}